/* Pac Man Stylesheet */

#pacman {
  z-index: 5;
  left: 0px;
  top: 0px;
}

.moveRight {
  transform:rotate(0deg);
}

.moveLeft {
  transform:scaleX(-1);
}

.moveDown {
  transform:rotate(90deg);
}

.moveUp {
  transform:rotate(-90deg);
}

.dots {
  position: relative;
  display: flex;
}

.dot {
  display: block;
  position: relative;
  width: 10px;
  height: 10px;
  background-color: gold;
  border-radius: 50%;
  margin: 0 20px 20px;
}